@model ProcurementInfo

<div class="container" style="margin-top: 30%;">

    @using (Html.BeginForm("Get", "Procurement", FormMethod.Post,  new { @class="form" }))
    {
        
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.ContainedText, "Текст для поиска по закупкам")
            @Html.TextBoxFor(m => m.ContainedText, new { @class="form-control" })
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Поиск"/>
        </div>
    }

</div>
